body{
    margin: 0;
}

.masthead {
	background: url('img/bollyfest.png') repeat-x;
	height: 90px;
    margin: 0;
}

.masthead-heading {
	color: #753149;
	background-color: white;
	font-family: 'Kalam';
	font-size: 3rem;
}

.editionNumber {
	color: #f87e1a;
	font-size: 4rem;
	font-style: italic;
	letter-spacing: -0.9rem;
}


.masthead-subheading {	
	color: #f87e1a;
	font-family: 'Lora';
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
}

.choreos {
	color: #8d0448;
	background-color: white;
	font-family: 'Raleway';
	margin-top: 10px;
}

.img-fluid {
	max-width: 100%;
	height:auto;
}

.card {
	border-color: #753149;
}

.card-header {
	background-color: #8D0448;
	color: white;
}

.card-video {
	margin-top: 1px;
}

.card-footer {
    background-color: rgba(0,0,0, 0.0);
    }

 ul a {
 	color: #753149;

	font-family: 'Lora';
 }

 .dropdown-item {
 	color: #753149;
 }

a:hover {
  color: #753149;
}


#lastCard {
	border-color: white;
}