.masthead {
	background: url('img/bollyfest.png') repeat-x;
	height: 90px;
    margin: 0;
}

.masthead-heading {
	color: #753149;
	background-color: white;
	font-family: 'Kalam';
	font-size: 2rem;
}

.editionNumber {
	color: #f87e1a;
}


.masthead-subheading {	
	color: #753149;
	font-family: 'Kalam';
}

.choreos {
	color: #f87e1a;
	background-color: white;
	font-family: 'Kalam', cursive;

	margin-top: 10px;
}

.img-fluid {
	max-width: 100%;
	height:auto;
}

.card {
	border-color: #753149;
}

.card-header {
	background-color: #8D0448;
	color: white;
}

.card-video {
	margin-top: 1px;
}

.card-footer {
    background-color: rgba(0,0,0, 0.0);
    }

 ul a {
 	color: #753149;
 }

 .dropdown-item {
 	color: #753149;
 }

a:hover {
  color: #753149;
}


#lastCard {
	border-color: white;
}